
        <hr>
        <nav>
            <a href = "https://webpages.uncc.edu/fflores2">CLT Home</a> ||
            <a href = "https://github.com/fernandoflow3rs">Github</a>
        </nav>
                Awesome sauce by <a href= "itis3135.page/index.html">Fandango Fox LLC</a> &copy;2023
        <p>
            <script>
                document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
                document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
            </script>
            <a href="https://validator.w3.org/check?uri=referer" id = "validation_link_html">
                <img src="images/button-validation-html5.png" width="88" height="31" alt="Validate webpage HTML." />
            </a>
            
            <a href="https://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
                <img src="images/button-validation-css.png" width="88" height="31" alt="Validate webpage CSS." />
            </a>            
        </p>