title 
{
    font-size: 38px;
}
main 
{
    font-family: monospace;
}
body 
{
    text-align: center;
    font-family: monospace;
    background-color:#dea045;
    color: #a7d49b;
}
p 
{
    font-size: 25px;
    color: #55251D;
}
ul 
{
    text-align: left;
    font-size: 20px;
    color: #55251D;
}
footer
{
    font-color: #55251D
    text-align: center;
    font-size: 18px;
}
img 
{
    max-width:500px;
}
nav
{
    font-size: 20px;
    text-align: center;
}
a
{
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    color:#a7d49b;
    font-size: 40px;

}
a:hover {color: #696047;}